body {
    background-color: black; 
    color: rgb(215, 196, 196); 
}

/*rachel's page*/
h1 {
    margin-top: 25px;
    font-size: 90px;
    color: rgb(215, 196, 196); 
    font-family: 'Georgia', sans-serif; 
}

.lead {
    margin-top: 140px; 
}

.left-side {
    flex: 1;
    padding: 200px; 
}

.right-side {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-side img {
    max-width: 100%;
    height: auto;
}

.back-to-home {
    position: absolute;
    top: 20px;
    right: 40px;
    background-color: #3263e1;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

.back-to-home:hover {
    background-color: #ffffff;
    color: #3263e1;
    border: 1px solid #3263e1;
}

.nav-link {
    color: rgb(215, 196, 196); 
    font-size: 18px;
    text-align: center;
    padding: 100px 200px;       
    background-size: cover;
    background-position: center;
    border-radius: 9px;
    text-decoration: none; 
}

.nav-item:nth-child(1) .nav-link {
    background-image: url('zprofile.png'); 
}

.nav-item:nth-child(2) .nav-link {
    background-image: url('zsby.png'); 
}

.nav-item:nth-child(3) .nav-link {
    background-image: url('zfood.png'); 
}

.nav-item:nth-child(4) .nav-link {
    background-image: url('ztunjungan.png');
}

.nav-link:hover {
    color: hsl(353, 58%, 47%); 
    opacity: 0.8;
}

.middle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.btn-primary {
    background-color: #3263e1; 
    border-color: #3263e1;
}

.btn-primary:hover {
    background-color: #ffffff; 
}
